* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Mulish';
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 48px 60px;
    margin-top: 62px;
}

body {
    background-color: #121214;
    padding: 72px 104px;

    display: grid;
    justify-content: center;
}

header h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 72px;
    color: #02799D;
}

header p {
    color: #E1E1E6;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.card {    
    background-color: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}

.card h2 {
    color: #e1e1e6;
    font-size: 36px;
    font-weight: 900; 
    padding: 24px 32px 0;   
}

.card p {
    color: #c4c4cc;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}